@font-face {
    font-family: 'poppins_regular';
    src: url('fonts/poppins/Poppins-Regular.otf');
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

/* MENU */
#menu {
    display: flex;
    justify-content: space-between;
    font-family: 'poppins_regular', Arial, serif;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}

.menu_home a img{
    width: 30px;
    height: 30px;
}

.menu_myProjects a{
    color: black;
    text-decoration: none;
    border: 2px rgba(29, 35, 195) solid;
    border-radius: 40px;
    padding: 10px;
    transition: background-color 2s ease-out 100ms;
}

.menu_myProjects a:hover{
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
}

/* TITLE */
.app_title {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.8em;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    top: 100px;
  }

/* APP MAIN MENU */
.app_menu {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(29, 35, 100);
    border: 2px rgba(29, 35, 100) solid;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 10px;
}

@media all and (max-width: 800px)
{
    .app_menu {
        display: block;
    }
}

.smartphone_menu_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 800px)
{
    .smartphone_menu_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.smartphone_menu_border {
    position: relative;
    z-index: 2;
}

#smartphone_menu_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_go4lunch_img {
    width: 93.5%;
    height: 82.8%;
    position: absolute;
    top: 12.5%;
    left: 10%;
    z-index: 1;
}

#go4lunch_img {
    width: 100%;
    height: 100%;
}

.smartphone_menu_text {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.3em;
    color: whitesmoke;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }

  @media all and (max-width: 800px)
{
    .smartphone_menu_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        font-size: 1.3em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px darkgrey solid;
        border-radius: 10px;
      }
}

/* APP LOGIN */

.app_login_title {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.8em;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_login {
    display: flex;
    background-color: rgba(29, 35, 100);
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_login {
        display: block;
    }
}

.smartphone_login_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
}

@media all and (max-width: 800px)
{
    .smartphone_login_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.smartphone_login_border {
    position: relative;
    z-index: 2;
}

#smartphone_login_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_login_gif {
    width: 98.5%;
    height: 86%;
    position: absolute;
    top: 10.7%;
    left: 8%;
    z-index: 1;
}

#login_gif {
    width: 100%;
    height: 100%;
}

.smartphone_login_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }

  @media all and (max-width: 800px)
{
    .smartphone_login_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        font-size: 1.3em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px darkgrey solid;
        border-radius: 10px;
      }
}

/* APP SCREEN */
.app_screen_title {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.8em;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_screen {
    display: flex;
    background-color: rgba(29, 35, 100);
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_screen {
        display: block;
    }
}

.smartphone_screen_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
}

@media all and (max-width: 800px)
{
    .smartphone_screen_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.smartphone_screen_border {
    position: relative;
    z-index: 2;
}

#smartphone_screen_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_screen_gif {
    width: 98.5%;
    height: 86%;
    position: absolute;
    top: 10.7%;
    left: 8%;
    z-index: 1;
}

#screen_gif {
    width: 100%;
    height: 100%;
}

.smartphone_screen_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3%;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }

@media all and (max-width: 800px)
{
    .smartphone_screen_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        font-size: 1.3em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px darkgrey solid;
        border-radius: 10px;
      }
}

/* APP SEARCH */
.app_search_title {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.8em;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_search {
    display: flex;
    background-color: rgba(29, 35, 100);
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_search {
        display: block;
    }
}

.smartphone_search_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
}

@media all and (max-width: 800px)
{
    .smartphone_search_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.smartphone_search_border {
    position: relative;
    z-index: 2px;
}

#smartphone_search_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_search_gif {
    width: 98.5%;
    height: 86%;
    position: absolute;
    top: 10.7%;
    left: 8%;
    z-index: 1;
}

#search_gif {
    width: 100%;
    height: 100%;
}

.smartphone_search_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

@media all and (max-width: 800px)
{
    .smartphone_search_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        font-size: 1.3em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px darkgrey solid;
        border-radius: 10px;
      }
}

/* APP DETAILS */
.app_details_title {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.8em;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_details {
    display: flex;
    background-color: rgba(29, 35, 100);
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_details {
        display: block;
    }
}

.smartphone_details_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
}

@media all and (max-width: 800px)
{
    .smartphone_details_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.smartphone_details_border {
    position: relative;
    z-index: 2;
}

#smartphone_details_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_details_gif {
    width: 98.5%;
    height: 86%;
    position: absolute;
    top: 10.7%;
    left: 8%;
    z-index: 1;
}

#details_gif {
    width: 100%;
    height: 100%;
}

.smartphone_details_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

@media all and (max-width: 800px)
{
    .smartphone_details_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        font-size: 1.3em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px darkgrey solid;
        border-radius: 10px;
      }
}

/* APP FILTERS */
.app_filters_title {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.8em;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_filters {
    display: flex;
    background-color: rgba(29, 35, 100);
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_filters {
        display: block;
    }
}

.smartphone_filters_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
}

@media all and (max-width: 800px)
{
    .smartphone_filters_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.smartphone_filters_border {
    position: relative;
    z-index: 2;
}

#smartphone_filters_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_filters_gif {
    width: 98.5%;
    height: 86%;
    position: absolute;
    top: 10.7%;
    left: 8%;
    z-index: 1;
}

#filters_gif {
    width: 100%;
    height: 100%;
}

.smartphone_filters_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

@media all and (max-width: 800px)
{
    .smartphone_filters_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        font-size: 1.3em;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px darkgrey solid;
        border-radius: 10px;
      }
}