body {
    background-color: whitesmoke;
}

/* MENU */
#menu {
    display: flex;
    justify-content: space-between;
    font-family: 'poppins_regular', Arial, serif;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
}

.menu_home a img{
    width: 30px;
    height: 30px;
}

.menu_myProjects a{
    color: black solid;
    text-decoration: none;
    border: 2px rgba(29, 35, 195) solid;
    border-radius: 40px;
    padding: 10px;
    transition: background-color 2s ease-out 100ms
}

.menu_myProjects a:hover{
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
}

/* APP MENU */
.app_title {
    font-family: 'poppins_regular', Arial, serif;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    top: 100px;
}

.app_menu {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(29, 35, 100);
    border: 2px rgba(29, 35, 100) solid;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 10px;
}

@media all and (max-width: 800px)
{
    .app_menu {
        display: block;
    }
}

.smartphone_menu_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
    margin-top: 5%;
}

@media all and (max-width: 800px)
{
    .smartphone_menu_container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
}

.smartphone_menu_border {
    position: relative;
    z-index: 2;
}

#smartphone_menu_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_realEstateManager_img {
    width: 100%;
    height: 89%;
    position: absolute;
    top: 12%;
    left: 6.6%;
    z-index: 1;
}

#realEstateManager_img {
    width: 100%;
    height: 100%;
}

.smartphone_menu_text {
    font-family: 'poppins_regular', Arial, serif;
    font-size: 1.3em;
    color: whitesmoke;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
  }

  @media all and (max-width: 800px)
{
    .smartphone_menu_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        margin-top: 8%;
        margin-bottom: auto;
        padding-left: 3%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
      }
}

/* APP DETAILS */
.app_details_title {
    font-family: 'poppins_regular', Arial, serif;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_details {
    display: flex;
    background-color: rgba(29, 35, 100);
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_details {
        display: block;
    }
}

.smartphone_details_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
    margin-top: 5%;
}

@media all and (max-width: 800px)
{
    .smartphone_details_container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
}

.smartphone_details_border {
    position: relative;
    z-index: 2;
}

#smartphone_details_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_details_gif {
    width: 100%;
    height: 89%;
    position: absolute;
    top: 12%;
    left: 6.6%;
    z-index: 1;
}

#details_gif {
    width: 100%;
    height: 100%;
}

.smartphone_details_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

@media all and (max-width: 800px)
{
    .smartphone_details_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        margin-top: 8%;
        margin-bottom: auto;
        padding-left: 3%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
      }
}

/* APP LOAN AND EDIT */
.app_loan_and_edit_title {
    font-family: 'poppins_regular', Arial, serif;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_loan_and_edit {
    display: flex;
    background-color: rgba(29, 35, 100);
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_loan_and_edit {
        display: block;
    }
}

.smartphone_loan_and_edit_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
    margin-top: 5%;
}

@media all and (max-width: 800px)
{
    .smartphone_loan_and_edit_container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
}

.smartphone_loan_and_edit_border {
    position: relative;
    z-index: 2;
}

#smartphone_loan_and_edit_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_loan_and_edit_gif {
    width: 100%;
    height: 89%;
    position: absolute;
    top: 12%;
    left: 6.6%;
    z-index: 1;
}

#loan_and_edit_gif {
    width: 100%;
    height: 100%;
}

.smartphone_loan_and_edit_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

@media all and (max-width: 800px)
{
    .smartphone_loan_and_edit_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        margin-top: 8%;
        margin-bottom: auto;
        padding-left: 3%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
      }
}

/* APP MAPS AND SEARCH */
.app_maps_and_search_title {
    font-family: 'poppins_regular', Arial, serif;
    background-color: rgba(29, 35, 195);
    color: whitesmoke;
    border-radius: 150px;
    padding: 3%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.app_maps_and_search {
    display: flex;
    background-color: rgba(29, 35, 100);
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 5%;
}

@media all and (max-width: 800px)
{
    .app_maps_and_search {
        display: block;
    }
}

.smartphone_maps_and_search_container {
    position: relative;
    width: 300px;
    height: 600px;
    min-width: 300px;
    min-height: 600px;
    margin-top: 5%;
}

@media all and (max-width: 800px)
{
    .smartphone_maps_and_search_container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
}

.smartphone_maps_and_search_border {
    position: relative;
    z-index: 2;
}

#smartphone_maps_and_search_border_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 20px;
}

.smartphone_maps_and_search_gif {
    width: 100%;
    height: 89%;
    position: absolute;
    top: 12%;
    left: 6.6%;
    z-index: 1;
}

#maps_and_search_gif {
    width: 100%;
    height: 100%;
}

.smarthpone_maps_and_search_text {
    font-family: 'poppins_regular', Arial, serif;
    color: whitesmoke;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

@media all and (max-width: 800px)
{
    .smarthpone_maps_and_search_text {
        font-family: 'poppins_regular', Arial, serif;
        color: whitesmoke;
        margin-top: 8%;
        margin-bottom: auto;
        padding-left: 3%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
      }
}