body {
    background-color: rgb(20, 19, 19);
    background-image: url("../image/mitchell-luo-FWoq_ldWlNQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

/* MENU */
#menu {
    display: flex;
    justify-content: center;
}

.menu_home a{
    color: beige;
}

.menu_aboutMe a{
    color: beige;
}

.menu_myProjects a{
    color: beige;
}

.menu_aboutMe {
    margin-left: 20px;
    margin-right: 20px;
}

/* PROFILE */
.profile_container {
    display: flex;
    margin-top: 100px;
}

.profile_img {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    
}

.profile_img_rounded {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

h1 {
    color: beige;
}

p {
    color: beige;
}
